<% include ../partials/header %>
<div class="container">
    <h1 class="text-center">Edit Comment</h1>
    <div class="row">
        <div style="width: 35%; margin: 25px auto">
            <form action="/movies/<%= movie_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value=<%= comment.text%> >
                </div>
                <div class="container">
                    <div class="star_rating">
                    <h4> Rating</h4>
                    <fieldset class="rating star">
                    	<input type="radio" id="field6_star5" name="comment[score]" value=5 /><label class = "full" for="field6_star5" checked=true ></label>
                    	<input type="radio" id="field6_star4" name="comment[score]" value=4 /><label class = "full" for="field6_star4"></label>
                    	<input type="radio" id="field6_star3" name="comment[score]" value=3 /><label class = "full" for="field6_star3"></label>
                    	<input type="radio" id="field6_star2" name="comment[score]" value=2 /><label class = "full" for="field6_star2"></label>
                    	<input type="radio" id="field6_star1" name="comment[score]" value=1 /><label class = "full" for="field6_star1"></label>
                    </fieldset>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-block btn-info">Submit!</button>
                </div>
            </form>
            <a href="/movies">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
